{% extends "base.html" %}

{% block title %}Discord - Silverback{% endblock %}

{% block page_scripts %}
    <script type="module" src="https://1.www.s81c.com/common/carbon/web-components/version/v2.38.0/tag.min.js"></script>
    <script type="module"
            src="https://1.www.s81c.com/common/carbon/web-components/version/v2.38.0/data-table.min.js"></script>
{% endblock %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'discord.css' %}">
{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold mb-4">Discord</h1>

    {% if bot_status == "healthy" %}
        <cds-tag type="green">healthy</cds-tag>
    {% else %}
        <cds-tag type="red">unhealthy</cds-tag>
    {% endif %}

    <div class="table-container">
        <cds-table>
            <cds-table-head>
                <cds-table-header-row>
                    <cds-table-header-cell>Name</cds-table-header-cell>
                    <cds-table-header-cell>Description</cds-table-header-cell>
                    <cds-table-header-cell>Action</cds-table-header-cell>
                </cds-table-header-row>
            </cds-table-head>
            <cds-table-body>
                {% for command in commands %}
                    <cds-table-row>
                        <cds-table-cell>{{ command.name }}</cds-table-cell>
                        <cds-table-cell>{{ command.description }}</cds-table-cell>
                        <cds-table-cell><a href="/discord/command/{{ command.name }}">Configure</a></cds-table-cell>
                    </cds-table-row>
                {% endfor %}
            </cds-table-body>
        </cds-table>
    </div>
{% endblock %}


